<section class="form-section">
    <h3>Grouping related fields</h3>
    <p>Can substitue "section" el for "fieldset" and h2 for legend if desired, it doesn't matter</p>
    <form>
        <fieldset>
            <legend>Billing Address</legend>
            <input type="text" />
            <input type="text" />
            <input type="text" />
        </fieldset>
        <fieldset>
            <legend>Payment</legend>
            <input type="text" />
            <input type="text" />
            <input type="text" />
        </fieldset>
        <input type="hidden" name="course-id" value="1234"/>
    </form>
    <p>can use hidden field but never store sensetive info in them.</p>
</section>