<h3>Data list (AKA suggestion list) in forms</h1>
<form>
    <input type="text" list="countries"/>
    <datalist id="countries">
        <option>Aust</option>
        <option>Can</option>
        <option>Ind</option>
        <option>USA</option>
    </datalist>
</form>
<article>
    <h3>Form Data List</h3>
    <p>Can assing a numeric value to each option via the "data-value" form property. This is how a response could be associated to a value on the server. <strong>Users can override a data list item in the form input because it is a "suggestion"</strong>
    </p>
</article>
<h3>Dropdown list in forms</h3>
<form>
    <select>
        <option value="">Select a course...</option>
        <option value="1">HTML</option>
        <option value="2">CSS</option>
        <option value="3">JavaScript</option>
    </select>
</form>
<article>
<h3>Dropdown List</h3>
<p>Assign a numeric value to each option via the "value" (NOT DATA-VALUE) form property. This is how a response could be associated to a value on the server. <strong>Users CANT override a dropdown list</strong>
<br>Select a "default selected option" by applying the keyword "selected" to a single value from the list.</p>
</article>