<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 1</h2>
                 <svg class="icon icon--white collapsible__chevron">
                     <use xlink:href="img/sprite.svg#chevron"></use>
                 </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Hosting</a></li>
                    <li><a href="#">Wordpress</a></li>
                    <li><a href="#">Website Migrate Your DB</a></li>
                    <li><a href="#">Windows Website</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 2</h2>
                 <svg class="icon icon--white collapsible__chevron">
                     <use xlink:href="img/sprite.svg#chevron"></use>
                 </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                    <li><a href="#">Website Migrate Your DB</a></li>
                    <li><a href="#">Windows</a></li>
                    <li><a href="#">Migrate Your DB</a></li>
                    <li><a href="#">Windows</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Item 3</h2>
                 <svg class="icon icon--white collapsible__chevron">
                     <use xlink:href="img/sprite.svg#chevron"></use>
                 </svg>
            </header>
            <ul class="list">
                <li><a href="#">Mac</a></li>
                <li><a href="#">Free Automated Wordpress</a></li>
                <li><a href="#">Migrate Your DB</a></li>
                <li><a href="#">Windows</a></li>
            </ul>
        </section>
        <section class="footer__brand">
            <img src="img/logo.svg" alt="">
            <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
        </section>
    </div>
</footer>